%form{:action => '/admin/posts', :method => 'post'}
  %div
    title:
    %input{:type => 'text', :name => 'title', :value => post.title}
  %div
    content:
    %textarea{:name => 'content', :rows => 8, :cols => 40}~ post.content
  %div
    %input{:type => 'submit', :value => 'save'}
  - unless post.new?
    %div
      %input{:type => 'hidden', :value => post.id, :name => 'id'}
    %div
      %input{:type => 'hidden', :value => 'PUT', :name => '_method'}
