%form{:action => '/auth', :method => 'post'}
  %div
    username:
    %input{:type => 'text', :name => 'username'}
  %div
    password:
    %input{:type => 'text', :name => 'password'}
  %div
    %input{:type => 'submit', :value => 'save'}
