<form action="/auth" method="post">
  <div>username:<input type="text" name="username" /></div>
  <div>password:<input type="text" name="password" /></div>
  <div><input type="submit" value="save" /></div>
</form>
