!!! XML
!!! Strict
%html{ html_attrs("ja") }
  %head
    %meta{'http-equiv' => 'Content-Language', :conent => 'ja'}
    %meta{'http-equiv' => 'Content-Type', :conent => 'text/html', :charset => 'utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', :conent => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', :conent => 'text/javascript'}
    %meta{'http-equiv' => 'Imagetoolbar', :conent => 'no'}
    %meta{:name => 'Description', :conent => Blog.description}
    %meta{:name => 'Keywords', :conent => ''}
    %meta{:name => 'Author', :conent => Blog.author}
    %title= Blog.title
    -# %link{:rel => 'shortcut icon', :type => 'image/x-icon', :href => '/images/favicon.ico'}
    -# %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/base.css', :media => 'screen', :title => 'base', :charset => 'utf-8'}
  %body
    #header
      %h1 Potage
      %ul
        %li
          %a{:href => '/'} Top
        %li
          %a{:href => '/posts'} All
        %li
          %a{:href => '/posts/new'} New
        - if logged_in?
          %li
            %a{:href => '/logout'} logout
    #contnet
      = yield
    #footer
      :javascript
        (function() {
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/potage/get_num_replies.js' + query + '"></' + 'script>');
        })();
