<p>id:<%= @post.id %></p>
<h3><%= @post.title %></h3>
<p>
  <%= @post.format_body %>
</p>
<p><%= date_format @post.created_at %></p>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/potage/embed.js"></script><noscript><a href="http://potage.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
