default_run_options[:pty] = true

# github info
set :github_user, 'potage'
set :github_application, 'potage'
set :repository,  "git://github.com/#{github_user}/#{github_application}.git"

# scm info
set :scm, 'git'
set :branch, 'master'
set :git_shallow_clone, 1
set :scm_verbose, true

# application info
# be sure to change these
set :user, 'YOUR USER NAME'
set :domain, 'YOUR DOMAIN'
set :application, 'YOUR APPLICATION NAME'

# deploy info
set :deploy_to, "/home/#{user}/#{application}.#{domain}"
set :deploy_via, :remote_cache
# set :deploy_via, :copy
# set :copy_remote_dir, "#{shared_path}/tmp"
# set :copy_strategy, :export

# ssh options
set :use_sudo, false
set :ssh_options, {:forward_agent => true}

server domain, :app, :web

# capistrano info
set :keep_releases, 3

# after callback
after "deploy:update", "deploy:cleanup"
after "deploy:update_code" do
  run "ln -s #{shared_path}/config.yml #{release_path}/config"
  run "ENV['DATABASE_URL']='sqlite://#{deploy_to}/db/#{application}.db'"
end

# override
namespace :deploy do
  task :restart do
    run "touch #{current_path}/tmp/restart.txt"
  end
end
